
@{
    ViewData["Title"] = "CCTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function passCCTValues() {
        var f = document.getElementById("n11");
        var g = document.getElementById("n22");
        var h = document.getElementById("n33");
        if (f.checked && g.checked && h.checked) {
            localStorage.setItem('checkedcct', 'no');
        } else {
            localStorage.setItem('checkedcct', 'yes');
        }
        return false;
    }
</script>

<style type="text/css">
    .grey {
        background-color: lightgray
    }

</style>

<body class="grey">
    <div style="font-size:36px;font-weight: bold;text-align:center;margin-bottom:50px">Countiunes Charge Test</div>
    <span style="font-size:22px;font-weight: bold;margin-bottom:15px">Please Follow The Below Steps</span>
    <div style="font-size:20px;font-weight: bold;margin-bottom:25px">
        <ol>
            <li>Charge the battray according with the method declared by the manufacuture </li>
            <li>Hold the battary at the specfied end-of-charge voltage for a total period of 28 days.</li>
        </ol>
    </div>
    <div style="font-size:18px;font-weight: bold;text-align:left;margin-bottom:10px;"> Observations</div>
    <div style="font-size:16px;font-weight: bold;text-align:left;margin-bottom:50px;">
        <div>
            <span> Any Leakages?</span>
            <label class="radio-inline">
                <input type="radio" id="y11" name="A1">YES
            </label>
            <label class="radio-inline">
                <input type="radio" id="n11" name="A1">NO
            </label>
        </div>
        <div>
            <span> Any Venting?</span>
            <label class="radio-inline">
                <input type="radio" id="y22" name="A2">YES
            </label>
            <label class="radio-inline">
                <input type="radio" id="n22" name="A2">NO
            </label>
        </div>
        <div>
            <span> Any Explotion?</span>
            <label class="radio-inline">
                <input type="radio" id="y33" name="F1">YES
            </label>
            <label class="radio-inline">
                <input type="radio" id="n33" name="F1">NO
            </label>
        </div>
        <div>
            <form action="https://localhost:44354/">
                <input type="submit" value="Submit" onclick="passCCTValues();" />
            </form>
        </div>
    </div>
</body>
