
@{
    ViewData["Title"] = "ChargeRetention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Charge Retention And Recovery</h1>
<span style="font-size:22px;font-weight: bold;margin-bottom:15px">Please Follow The Below Steps</span>
<div style="font-size:20px;font-weight: bold;margin-bottom:80px">
    <ol>
        <li>Charge the battery compltely according to the method declared by the manufacuturer. </li>
        <li>Store the battery on open circuit in an ambient temperature of 20&#176;C &#177; 5&#176;C for 28 days.</li>
        <li>Discharge the battary in an ambiont temp. of 20&#176;C &#177; 5&#176;C at a constant current of 0.2I<sub>t</sub>A until the battery voltage is less than or equal to the specfied end of discharge voltage.</li>
        The 
        <li><input /></li>
        <li>Charge the battery according with the declared by the manufactureor. ( the battery should be stored between charge-discharge and discharge-charge for up to 1 hour).</li>
        <li>Repeat step 2 and 3 until the dischare capacity is less than 60% of the rated capasity.</li>
    </ol>

</div>
