
@{
    ViewData["Title"] = "ChargeRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Charge Recovery After Storage</h1>

<p>
    <h3>Please Follow the below Steps</h3>
    1. Choose the battery accordence with the method declared by the manufacturer.<br />
    2.Discharge the battery until the specified end-of discharge voltage.<br />
    (In an //notclear temperature of 20&#176;C //notclear a constant current at 0.2 //notclear)<br />
    3.Store the battery in open circuit, in an //notclear temperature of 40&#176;C &#177; 2&#176;C for 90 days.<br />
    4.Charge the battery.<br />
    5.Discharge the battery.<br />
</p>
<br />
<h3>Charge recovery after Storage = <input type="text" value="0"> Ah</h3>
<p>(//notclear)</p>

