
@{
    ViewData["Title"] = "Enduarance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .grey {
        background-color: lightgray
    }
    .box {
        background-color: lightgrey;
        width: 300px;
        border: 10px solid green;
        padding: 25px;
        margin: 10px;
    }
</style>

<body class="grey">
    <div>
        <div style="font-size:36px;font-weight: bold;text-align:center;margin-bottom:50px">Enduarance In Cycles</div>
        <span style="font-size:22px;font-weight: bold;margin-bottom:15px">Please Follow The Below Steps</span>
        <div style="font-size:20px;font-weight: bold;margin-bottom:80px">
            <ol>
                <li>Charge the battray compltely according with the method declared by the manufacuture </li>
                <li>Discharge the battary in ambront temp. of 20&#176;C &#177; 5&#176;C At a constant curret of 0.2I A until the voltage equal to the specfied end of discharge voltage.</li>
                <li>Charge the battery according with the declared by the manufactureor. ( the battery should be stored between charge-discharge and discharge-charge for up to 1 hour).</li>
                <li>Repeat step 2 and 3 until the dischare capacity is less than 60% of the rated capasity.</li>
            </ol>
        </div>
        <div>
            <span class="box" style="font-size:16px;font-weight: bold;text-align:left;margin-bottom:50px;">
                Endurence in Cycles =
                <input type="text" name="Eincyle" value="">
            </span>
        </div>
    </div>
</body>

