@{
    ViewData["Title"] = "Home Page";
}
    <body class="grey">
        <div id="app">
            <home-component></home-component>
        </div>
    </body>
<!--class="text-center" class="display-4"-->
@section Scripts{
    <script src="@Url.Content("~/bundle/home.js")"></script>
}
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyB_N4gMHf1BrJpa2KsWqedPIH6hRe7W4YY",
        authDomain: "data-ad105.firebaseapp.com",
        databaseURL: "https://data-ad105.firebaseio.com",
        projectId: "data-ad105",
        storageBucket: "",
        messagingSenderId: "247957285740",
        appId: "1:247957285740:web:8179a6345329a72dfca149",
        measurementId: "G-ZRTC3D3V7P"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    var ref = firebase.database().ref();
    ref.on("value", function (snapshot) {
        var obj = JSON.parse(JSON.stringify(snapshot.val(), null, 2));
        console.log(obj);
       
    });
</script>
<style>
    .grey {
        background-color: lightgray
    }
</style>


