
@{
    ViewData["Title"] = "OverchargeTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function passOCTValues() {
        var a = document.getElementById("n1");
        var b = document.getElementById("n2");
        if (a.checked && b.checked) {
            localStorage.setItem('checkedoct', 'no');
        } else {
            localStorage.setItem('checkedoct', 'yes');
        }
        return false;
    }
</script>
<style type="text/css">
    .grey {
        background-color:lightgray
    }
    .bracket {
        border-top: 20px;
        border-bottom: 20px;
        border-right: none;
        border-left: 5px solid black;
    }
        .bracket:after {
            content: ']'
        }

        .bracket:before {
            content: '['
        }
</style>

<body class="grey">
    <div style="font-size:36px;font-weight: bold;text-align:center;margin-bottom:50px">Over Charge Test</div>
    <span style="font-size:22px;font-weight: bold;margin-bottom:15px">Please Follow The Below Steps</span>
    <div style="font-size:20px;font-weight: bold;margin-bottom:25px">
        <ol>
            <li>Discharge the battray at 20C plus or mines 5C at aconstant current of 0.2I A to a specific final voltage</li>
            <li>Charge the battary with the recommened chage current( Irec) specfic by the manufacture</li>
        </ol>
    </div>
    <div class="bracket" style="font-size:26px;font-weight: bold;text-align:center;margin-bottom:50px;color:blue">
        The Duration of the test time (in hours)=2.5C/Irec
    </div>
    <div style="font-size:18px;font-weight: bold;text-align:left;margin-bottom:10px;"> Observations</div>
    <div style="font-size:16px;font-weight: bold;text-align:left;margin-bottom:50px;">
        <div>
            <span> Any Explotions?</span>
            <label class="radio-inline">
                <input type="radio" name="A1" id="y1">YES
            </label>
            <label class="radio-inline">
                <input type="radio" name="A1" id="n1">NO
            </label>
        </div>
        <div>
            <span> Any Fire?</span>
            <label class="radio-inline">
                <input type="radio" name="F1" id="y2">YES
            </label>
            <label class="radio-inline">
                <input type="radio" name="F1" id="n2">NO
            </label>
        </div>
    </div>
    <div>
        <form action="https://localhost:44354/">
            <input type="submit" value="Submit" onclick="passOCTValues();" />
        </form>
    </div>
</body>