
@{
    ViewData["Title"] = "shortccttest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Short Circuit Test</h1><br />
                           <p>
                               Please Follow the below Steps<br />
                               1. Conduct two seperate tests, one in ambient temperature of 20&#176;C &#177; 5&#176;C and one in an ambient temperature of 55&#176;C &#177; 2&#176;C<br />
                               (external resistance should be less than 50m&#937;)<br />
                               2. Continue the tests until the battery voltage falls below 0.1V or the electronic circuit or the current limiting device prevents further discharge and the cell case temperature has returned to //notclear within 10&#176;C of
                               the original temperature.<br />
                           </p>

<img src="~/SCT.jpeg"/>
